.Header {
    box-sizing: border-box;
}

.infoLateral{
    width: 20%;
    height: 150px;
    border-radius: 25px;
    margin: 2% -2.2%;
    padding: 25px 20px;
    background-color: #028DCD;
    color: #FFF;
    text-align: center;
    box-sizing: border-box;
}

.infoLateral .title {
    font-weight: 100;
    font-size: 25px;
}

.infoLateral p {
    font-size: 25px;
}

.infoLateral .number {
    font-weight: bold;
    font-size: 30px;
}

.infoLateral .numberSerial {
    font-size: 18px;
}

.imgLogo {
    width: 70px;
    height: 70px;
    margin: -80px -50px;
    border-radius:100%;
    float: right;
    border: 2px solid #16527C;
    background-color: #FFF;
}

.imgLogo .logoIcon {
    align-items: center;
    margin: 13px 14.2px;
}