.body {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 3px 3px rgba(0, 0, 1, 0.2);
    margin: 10px;
    padding: 10px;
    display: inline-block;
    width: 98%;
    height: 100%;
}

.supplierOne p{
    margin-top: 15px; 
}

.main {
    font-size: 18px;
    color: #BCBCBC;
}

.client {
    font-size: 18px;
    color: #299ED5;
    display: inline-block;
    margin-right: 30px;
}

.code {
    color: #A5AAAB;
    border: 1px solid #E2F1F8;
    background-color: #E2F1F8;
    border-radius:15px;
    display: inline-block;
    padding: 0px 10px;
}

.supplierTwo {
    display: block;
    margin-left: 550px;
    margin-top: -62px;
}

.name, .contato {
    display: inline-block;  
}

.contato {
    color: #299ED5;
    margin-left: 15px;
}

.telefone {
    display: inline-block;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 10px;
}

.contatoDois {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.supplierThree {
    display: block;
    margin-top: -70px;
    margin-left: 1150px;
    text-align: justify;
}

.view, .historico { 
    display: inline-block;
    margin-top: 10px;
}

.view {
    margin:10px;
}

.historico {
    margin:10px;
}